#Estructuras de repetición
se emplean cuando se desea repetir una parte del código, dada una condición

##Listas
*Son texto en negrita un conjunto de objetos, **indexado** (Todos los elementos listados están numerados) , separado por comas, y encerrado entre [].
*Todos los elementos dentro de una lista, se empiezan a contar desde 0.
###Creación de listas
* Forma general: lista = []
* Forma manual: animales = ["gato", "perro", "zorro", "oso"]
* por conversión: número = list(range(10))
* Son objetos

In [ ]:
lista = []

In [ ]:
lista = list(range)

In [ ]:
zorro = [1,2,3,4]
animales =  ["gato", "perro", zorro, "oso"]
animales

['gato', 'perro', [1, 2, 3, 4], 'oso']

In [ ]:
type(zorro)

list

In [ ]:
número = list(range(10))
número

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
type(range(10))

range

##Estructura para - (for)

se usa cuando:
* se sabe **cuantas veces** se repite una acción.
* Está compuesta por un contador y una condición.
* **contador**: Identifica cuantas veces se va a repetir el bucle y con qué frecuencia.
* **condición**: Evalua cuando se detiene.

Por definición:



```
for variable in range (vi, vf+1, paso): aqui se repite parte del código.
```
Donde
1. vi: condición inicial. Donde arranco a contar.
2. vf+1: condición final. Donde dejo de contar +1
3. paso: frecuencia de conteo

for para recorrido de listas flor = ["amapola", "rosa", "tulipán", "orquidea"]

* El para va a iterar tantas veces como el elemento tenga la lista
* La variable dentro del para, toma como valor, cada elemento de la lista

```
for variable in lista:
variable
```

In [ ]:
#Creando una lista de nombre flor
flor = ["amapola", "rosa", "tulipán", "orquidea"]
for i in flor:
  print(i)

amapola
rosa
tulipán
orquidea

In [ ]:
flor = ["amapola", "rosa", "tulipán", "orquidea"]
flores = 7
for flores in flor:
  print(flores)
  if flores == "tulipán" :
    break #rompe/para la interación

amapola
rosa
tulipán

In [ ]:
name = []
for nombres in range (5):
  name. append(input("ingrese su nombre "))

ingrese su nombre 1
ingrese su nombre 2
ingrese su nombre 3
ingrese su nombre 4
ingrese su nombre 5

In [ ]:
name

['1', '2', '3', '4', '5']

##Estructura while
* Se emplea cuando **NO SE SABE** cuantas veces se debe repetir una acción, pero si se conoce su condición de parada (CP).
* cOndición inicial: Donde arranca el ciclo
* Condición final (parada): Que indica donde se detiene el ciclo
* Modificador de condición inicial **importante**

Estructura general del mientras (WHILE)



```
Condición inicial
while (donidción==condición final):
  modificador de condición inicial
```
Modificadores de condición inicial
* Bandera: Son booleanos (se vuelven V o F)
* Son preguntas ("Desea continuar Si o No")
* Son contadores o acumuladores

##PRUEBA DIAGNOSTICA (FOR PARTE 2)
**1	Escribe un programa que imprima los números del 1 al 10.**

In [ ]:
numeros = []
for numeros in range(1,11):
  print(numeros)

1
2
3
4
5
6
7
8
9
10

**2	Escribe un programa que sume los números del 1 al 100.**

In [ ]:
suma = 0
for numero in range (1,101):
  suma+=numero
  print(suma)

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275
1326
1378
1431
1485
1540
1596
1653
1711
1770
1830
1891
1953
2016
2080
2145
2211
2278
2346
2415
2485
2556
2628
2701
2775
2850
2926
3003
3081
3160
3240
3321
3403
3486
3570
3655
3741
3828
3916
4005
4095
4186
4278
4371
4465
4560
4656
4753
4851
4950
5050

**3	Escribe un programa que imprima los múltiplos de 3 entre 1 y 30.**

In [ ]:
for numero in range(1,31):
  if numero %3 == 0 :
    print(numero)

3
6
9
12
15
18
21
24
27
30

**4	Escribe un programa que lea un número e imprima su tabla de multiplicar del 1 al 10.**

In [ ]:
numeros = range(1,11)
numero = input(int"Digite un número ")
for numeros in range(1,11):
  if numeros %numero == 0 :
    print(numeros)

SyntaxError: invalid syntax (ipython-input-2346854072.py, line 2)

##PRUEBA DIAGNOSTICA (FOR Y LISTA PARTE 2)
**1	Escribe un programa que imprima los números del 1 al 10.**

In [ ]:
num = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for numero in num :
  print(numero)

1
2
3
4
5
6
7
8
9
10

**2	Escribe un programa que sume los números del 1 al 100.**

In [ ]:
suma = 0
numero = list(range(101))
for numero in numero :
  suma+=numero
  print(suma)

0
1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275
1326
1378
1431
1485
1540
1596
1653
1711
1770
1830
1891
1953
2016
2080
2145
2211
2278
2346
2415
2485
2556
2628
2701
2775
2850
2926
3003
3081
3160
3240
3321
3403
3486
3570
3655
3741
3828
3916
4005
4095
4186
4278
4371
4465
4560
4656
4753
4851
4950
5050

**3 Escribe un programa que imprima los múltiplos de 3 entre 1 y 30.**

In [ ]:
multiplo=list(range(31))
for multiplo in multiplo:
  if multiplo %3 ==0 :
    print(multiplo)

0
3
6
9
12
15
18
21
24
27
30