<a href="https://colab.research.google.com/github/Aldana-777/PROGCOM-B/blob/main/LISTAS_Taller.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#QUEST/TALLER LISTAS

**1) Crear una lista con los cuadrados de los números del 1 al 10.**

In [61]:
Ncuadrados = [i ** 2 for i in range(1,11)]
Ncuadrados

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**2) Obtener una lista con los números pares del 0 al 20.**

In [59]:
Npares = [num for num in range(1,21) if num%2 ==0]
Npares

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

**3) Crear una lista con el doble de cada número del 1 al 5.**

In [54]:
Dobles = [n * 2 for n in range(1,6)]
Dobles

[2, 4, 6, 8, 10]

**4) De la palabra "programacion", obtener solo las vocales.**

In [51]:
word = "programacion"
v = [w for w in word if w in "a-e-i-o-u"]
v

['o', 'a', 'a', 'i', 'o']

**5) Dada la lista ["python", "java", "c++"], obtener otra lista con las palabras en mayúsculas.**

In [44]:
Programas = ["python", "java", "c++"]
MAYÚSCULA = [pg.upper() for pg in Programas]
MAYÚSCULA

['PYTHON', 'JAVA', 'C++']

**6) Crear una lista con "par" o "impar" para los números del 1 al 10.**

In [38]:
ListaN110 = [1,2,3,4,5,6,7,8,9,10]
paridad = [(x, "es par") if x%2==0 else (x, "es impar") for x in ListaN110]
paridad

[(1, 'es impar'),
 (2, 'es par'),
 (3, 'es impar'),
 (4, 'es par'),
 (5, 'es impar'),
 (6, 'es par'),
 (7, 'es impar'),
 (8, 'es par'),
 (9, 'es impar'),
 (10, 'es par')]

**7) Generar una lista de tuplas con el número y su cuadrado del 1 al 5.**

In [47]:
ListaN15 = [1,2,3,4,5]
Nalcuadrado = [(x, "su cuadrado es" ,x**2 ) for x in ListaN15]
Nalcuadrado

[(1, 'su cuadrado es', 1),
 (2, 'su cuadrado es', 4),
 (3, 'su cuadrado es', 9),
 (4, 'su cuadrado es', 16),
 (5, 'su cuadrado es', 25)]

**8) Crear una lista con todas las combinaciones de letras en ["a","b"] y números en [1,2,3].**

In [50]:
Letras = ["a","b"]
nums = [1,2,3]
Combinacionesposibles = [(lt,Numero) for lt in Letras for Numero in nums]
Combinacionesposibles

[('a', 1), ('a', 2), ('a', 3), ('b', 1), ('b', 2), ('b', 3)]

**9) De la lista ["sol", "estrella", "mar", "planeta"], obtener solo las palabras con más de 4 letras.**

In [29]:
palabras =["sol", "estrella", "mar", "planeta"]
f = [p for p in palabras if (len(p)>4)]
f

['estrella', 'planeta']

**10) Clasificar la temperatura de una lista. Si la temperatura es menor a 26, el clima es "frío". Si está entre 26 a 29, es "templado". Si es mayor a 29, el clima es "caliente"**

In [63]:
n=list(range(-10,44)) #Los numeros de la lista van desde la temperatura mínima hasta la máxima temperatura que puede soportar el cuerpo humano
temperatura=[(x, "frío") if x<26 else (x, "Templado") if x>=26 and x<=29 else (x, "Caliente") for x in n]
temperatura

[(-10, 'frío'),
 (-9, 'frío'),
 (-8, 'frío'),
 (-7, 'frío'),
 (-6, 'frío'),
 (-5, 'frío'),
 (-4, 'frío'),
 (-3, 'frío'),
 (-2, 'frío'),
 (-1, 'frío'),
 (0, 'frío'),
 (1, 'frío'),
 (2, 'frío'),
 (3, 'frío'),
 (4, 'frío'),
 (5, 'frío'),
 (6, 'frío'),
 (7, 'frío'),
 (8, 'frío'),
 (9, 'frío'),
 (10, 'frío'),
 (11, 'frío'),
 (12, 'frío'),
 (13, 'frío'),
 (14, 'frío'),
 (15, 'frío'),
 (16, 'frío'),
 (17, 'frío'),
 (18, 'frío'),
 (19, 'frío'),
 (20, 'frío'),
 (21, 'frío'),
 (22, 'frío'),
 (23, 'frío'),
 (24, 'frío'),
 (25, 'frío'),
 (26, 'Templado'),
 (27, 'Templado'),
 (28, 'Templado'),
 (29, 'Templado'),
 (30, 'Caliente'),
 (31, 'Caliente'),
 (32, 'Caliente'),
 (33, 'Caliente'),
 (34, 'Caliente'),
 (35, 'Caliente'),
 (36, 'Caliente'),
 (37, 'Caliente'),
 (38, 'Caliente'),
 (39, 'Caliente'),
 (40, 'Caliente'),
 (41, 'Caliente'),
 (42, 'Caliente'),
 (43, 'Caliente')]