<a href="https://colab.research.google.com/github/Aldana-777/PROGCOM-B/blob/main/Quest_(Obligatoria)_CQ8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#CHEMS QUEST 8 (CQ8) Quest Obligatoria

Un tipo de error bastante común, y que vimos en la clase de "listas" fue el error "IndexError: list index" (index de la lista fuera de rango). Como se demuestra en el siguiente ejemplo: en donde se quiere imprimir "3"

```
numeros = range(1,4)
numeros[2]
```

En donde el error que se presenta, es que no se puede imprimir el 3 que se solicita, ya que phyton empieza a contar desde 0, en este caso se presentan los valores de esta lista hasta el numero 3, en donde el valor máximo existentw que se puede solicitar es el [2], por tanto, el [3] no existe.

Demostración del error:

In [54]:
numeros = range(1,4)
numeros[3]

IndexError: range object index out of range

Corrección:
Para poder imprimir el 3, es necesario poner [2], ya que phyton empiesa a contar desde el 0 hasta el número final del rango

In [52]:
numeros = range(1,4)
numeros[2]

3